@use 'partials/header';
@use 'partials/jumbotron';
@use 'partials/comics-content';
@use 'partials/details-comic';
@use 'partials/footer';

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(46, 46, 46);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.33em;
}

h4 {
    font-size: 1.17em;
}

h5 {
    font-size: 1em;
}

.my_button {
    border: 2px solid rgb(2, 130, 249);
    background-color: rgb(2, 130, 249);
    padding: .2rem 2rem;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: .9rem;

    &:hover {
        background-color: transparent;
    }
}

.hover_bg_light {

    &:hover {
        color: black;
        background-color: transparent;
    }
}

.border_radius_0 {
    border-radius: 0;
}

.main_lable {
    position: absolute;
    top: -21px;
    left: 155px;

    .label {
        background-color: rgb(2, 130, 249);
        width: fit-content;
        color: white;
        padding: .3rem 1.5rem;
    }
}

.relative {
    position: relative;
}

.welcome_container {
    background: rgb(42, 5, 65);
    background: linear-gradient(90deg, rgba(42, 5, 65, 1) 0%, rgba(88, 22, 188, 1) 100%);

    .welcome_text {
        width: 70%;

        h1 {
            color: white;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 3rem;
        }
    }

    .welcome_img {
        width: 30%;

        img {
            width: 100%;
        }
    }
}

.title {
    font-weight: 900;
}

.card {

    h2 {
        text-transform: uppercase;
        font-weight: 900;
    }
}